{% extends "base.html" %}

{% block downloadpanel %}
{% include "download_panel.html" %}
{% endblock %}

{% block content %}
<dl>
    <dt style="grid-template-columns: 200px;"><div>{{ title|slice:":-1" }}</div></dt>
    {% for item in all_items %}
    {% if title == "Areas" %}
        <dd style="grid-template-columns: 200px;" onclick="localStorage.setItem('lapdb_listView', window.location.href)">
            <div><a href="/area/{{ item.id }}/">{{ item.formatted_name }}</a></div>
        </dd>
    {% else %}
        <dd style="grid-template-columns: 200px;">
            <div>{{ item.formatted_name }}</div>
        </dd>
    {% endif %}
    {% endfor %}
</dl>
{% endblock %}
