<html>
<head>
<meta charset="utf-8">
<style>
{{ pdf_css|safe }}
</style>
</head>

<body>
    <div id="header"><h1>LAP Locale {{ locale.formatted_name }}</h1><hr></div>
    <div id="footer">Page <pdf:pagenumber> of <pdf:pagecount> - {% now "Y-m-d H:i" %}</div>
    
    {% comment %}
        NOTE: Table cells can't span pages, so anything that might run long should be contained in a dl instead.
    {% endcomment %}
    <table>
        <tr>
            <th>Name:</th>
            <th>Area:</th>
            <th>Method:</th>
        </tr>
        <tr>
            <td>{{ locale.name }}</td>
            <td>{{ locale.area }}</td>
            <td>{{ locale.method }}</td>
        </tr>
    </table>
    <dl>
        <dt>Seasons:</dt><dd>{{ locale.seasons_list|default:"-"|join:", " }}</dd>
        <dt>SUs and 1LAP/3LAP Loci:</dt><dd>{{ locale.sus_list|default:"-"|join:", " }}</dd>
        <dt>Notes:</dt><dd>{{ locale.notes|default:"-"|escape|linebreaksbr }}</dd>
    </dl>
</body>
</html>
