{% extends "base.html" %}

{% block downloadpanel %}
{% include "contexts/download_list.html" %}
{% endblock %}

{% block filters %}
{{ form.as_p }}
{% endblock %}

{% block content %}
<dl>
    <dt style="columns: 3;">
        <div>Locale</div>
        <div>Area</div>
        <div>Season(s)</div>
    </dt>
    {% for item in all_items %}
    <dd style="columns: 3;" onclick="window.open('/locale/{{ item.id }}', '_self')">
        <div>{{ item.name }}</div>
        <div>{{ item.area }}</div>
        <div>{{ item.seasons_list|join:", " }}</div>
    </dd>
    {% endfor %}
</dl>
{% endblock %}
