{% extends "base.html" %}

{% block downloadpanel %}
{% include "download_panel.html" %}
{% endblock %}

{% block filters %}
{{ form.as_p }}
{% endblock %}

{% block content %}
<dl>
    <dt style="grid-template-columns: minmax(300px, min-content) 1fr 1fr;">
        <div>Locale</div>
        <div>Area</div>
        <div>Seasons</div>
    </dt>
    {% for item in all_items %}
    <dd style="grid-template-columns: minmax(300px, min-content) 1fr 1fr;" onclick="saveResultsList({{ ids_list }})">
        <div><a href="/locale/{{ item.id }}/">{{ item.name }}</a></div>
        <div><a href="/locale/{{ item.id }}/">{{ item.area }}</a></div>
        <div><a href="/locale/{{ item.id }}/">{{ item.seasons_list|join:", " }}</a></div>
    </dd>
    {% endfor %}
</dl>
{% endblock %}
