{% extends "base.html" %}

{% block filters %}
{{ form.as_p }}
{% endblock %}

{% block content %}
<dl>
    <dt style="columns: 200px 5;">
        <div>Lot</div>
        <div>SU or Locus</div>
        <div>Locale</div>
        <div>Contents</div>
        <div>Season</div>
    </dt>
    {% for item in all_items %}
    <dd style="columns: 200px 5;" onclick="window.open('/lot/{{ item.id }}')">
        {% if item.voided %}
        <div class="voided">{{ item }}</div>
        <div class="voided">{{ item.su }}</div>
        <div class="voided">{{ item.su.locale }}</div>
        <div class="voided">{{ item.contents|default:"-" }}</div>
        <div class="voided">{{ item.season }}</div>
        {% else %}
        <div>{{ item }}</div>
        <div>{{ item.su }}</div>
        <div>{{ item.su.locale }}</div>
        <div>{{ item.contents|default:"-" }}</div>
        <div>{{ item.season }}</div>
        {% endif %}
    </dd>
    {% endfor %}
</dl>
{% endblock %}
