<html>
<head>
<meta charset="utf-8">
<style>
{{ pdf_css|safe }}
</style>
</head>

<body>
{% with blank="-" %}
{% with datamissing='<i style="color: red;">(data missing)</i>' %}
    <div id="header">
        {% if su.voided %}
        <h1>LAP <span id="voided_record">{{ su }}</span> <span id="voided_warning">VOIDED</span></h1>
    {% else %}
        <h1>LAP {{ su }}</h1>
    {% endif %}
    <hr>
    </div>
    <div id="footer">Page <pdf:pagenumber> of <pdf:pagecount> - {% now "Y-m-d H:i" %}</div>
    
    {% comment %}
        NOTE: Table cells can't span pages, so anything that might run long should be contained in a dl instead.
    {% endcomment %}
    <table>
        <tr>
            <th>SU Number:</th>
            <th>1LAP/3LAP Locus:</th>
            <th>Locale:</th>
        </tr>
        <tr>
            <td>{% if su.locus %}-{% else %}{{ su.number|default:"0" }}{% endif %}</td>
            <td>{{ su.locus|default:blank }}</td>
            <td>{{ su.locale|default:datamissing }}</td>
        </tr>
        <tr>
            <th>Date Assigned:</th>
            <th>Recorded By:</th>
            <th>Seasons:</th>
        </tr>
        <tr>
            <td>{{ su.dateassigned|date:"Y-m-d"|default:datamissing }}</td>
            <td>{{ su.recordedby|default:datamissing }}</td>
            <td>{{ su.seasons_list|default:blank|join:", " }}</td>
        </tr>
        <tr>
            <th>Feature Type:</th>
            <th>Dimensions:</th>
        </tr>
        <tr>
            <td>{{ su.prefix|default:blank }}</td>
            <td>{{ su.dimensions|default:blank }}</td>
        </tr>
        <tr>
            <th>Elevation (top):</th>
            <th>Elevation (bottom):</th>
        </tr>
        <tr>
            <td>{{ su.elevationtop|default:blank }}</td>
            <td>{{ su.elevationbottom|default:blank }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Tracing:</th>
            <th>World File:</th>
        </tr>
        <tr>
            <td>{% if su.tracing %}<img src="{{ su.tracing_pdf }}"><br><span class="filename">{{ filename }}</span>{% else %}-{% endif %}</td>
            <td>{{ su.worldfile_contents|default:blank|linebreaks }}</td>
        </tr>
        <tr>
            <th>Architectural Features:</th>
            <th>Architectural Technique:</th>
        </tr>
        <tr>
            <td>{{ su.architecturalfeatures|default:blank }}</td>
            <td>{{ su.architecturaltechnique|default:blank }}</td>
        </tr>
        <tr>
            <th>Color:</th>
            <th>Composition:</th>
        </tr>
        <tr>
            <td>{{ su.color|default:blank }}</td>
            <td>{{ su.composition|default:blank }}</td>
        </tr>
        <tr>
            <th>Texture:</th>
            <th>Inclusions:</th>
        </tr>
        <tr>
            <td>{{ su.texture|default:blank }}</td>
            <td>{{ su.inclusions|default:blank }}</td>
        </tr>
        <tr>
            <th>Abuts:</th>
            <th>Same As:</th>
        </tr>
        <tr>
            <td>{{ su.abuts|default:blank }}</td>
            <td>{{ su.sameas|default:blank }}</td>
        </tr>
        <tr>
            <th>Covered By:</th>
            <th>Covers:</th>
        </tr>
        <tr>
            <td>{{ su.coveredby|default:blank }}</td>
            <td>{{ su.covers|default:blank }}</td>
        </tr>
        <tr>
            <th>Cut By:</th>
            <th>Cuts:</th>
        </tr>
        <tr>
            <td>{{ su.cutby|default:blank }}</td>
            <td>{{ su.cuts|default:blank }}</td>
        </tr>
        <tr>
            <th>Filled By:</th>
            <th>Fills:</th>
        </tr>
        <tr>
            <td>{{ su.filledby|default:blank }}</td>
            <td>{{ su.fills|default:blank }}</td>
        </tr>
    </table>
    <dl>
        <dt>Description:</dt><dd>{{ su.description|default:blank }}</dd>
        <dt>Interpretation:</dt><dd>{{ su.interpretation|default:blank }}</dd>
        <dt>Notes:</dt><dd>{{ su.notes|default:blank }}</dd>
        <dt>Lots:</dt><dd>{{ lots|default:blank|join:", " }}</dd>
        <dt>Photos:</dt><dd>{{ su.photos|default:blank }}</dd>
        <dt>Photogrammetry Numbers:</dt><dd>{{ su.photogrammetrynumbers|default:blank }}</dd>
    </dl>
{% endwith %}
{% endwith %}
</body>
</html>
