{% extends "base.html" %}

{% block downloadpanel %}
{% include "contexts/download_list.html" %}
{% endblock %}

{% block filters %}
{{ form.as_p }}
{% endblock %}

{% block content %}
<dl>
    <dt style="grid-template-columns: repeat(4, 1fr);">
        <div>SU or 1/3LAP Locus</div>
        <div>Locale</div>
        <div>Feature Type</div>
        <div>Season(s)</div>
    </dt>
    {% for item in all_items %}
    <dd {% if item.voided %}class="voided"{% endif %} style="grid-template-columns: repeat(4, 1fr);"  onclick="window.open('/su/{{ item.id }}', '_self')">
        <div>{{ item }}</div>
        <div>{{ item.locale }}</div>
        <div>{{ item.prefix|default:"-" }}</div>
        <div>{{ item.seasons_list|join:", " }}</div>
    </dd>
    {% endfor %}
</dl>
{% endblock %}
