{% extends "base.html" %}

{% block downloadpanel %}
{% include "download_panel.html" %}
{% endblock %}

{% block filters %}
{{ form.as_p }}
{% endblock %}

{% block content %}
<dl>
    <dt style="grid-template-columns: repeat(4, 1fr);">
        <div>SU or 1LAP/3LAP Locus</div>
        <div>Locale</div>
        <div>Feature Type</div>
        <div>Seasons</div>
    </dt>
    {% for item in all_items %}
    <dd {% if item.voided %}class="voided"{% endif %} style="grid-template-columns: repeat(4, 1fr);" onclick="saveResultsList({{ ids_list }})">
        <div><a href="/su/{{ item.id }}/">{{ item }}</a></div>
        <div><a href="/su/{{ item.id }}/">{{ item.locale }}</a></div>
        <div><a href="/su/{{ item.id }}/">{{ item.prefix|default:"-" }}</a></div>
        <div><a href="/su/{{ item.id }}/">{{ item.seasons_list|join:", " }}</a></div>
    </dd>
    {% endfor %}
</dl>
{% endblock %}
