<html>
<head>
<meta charset="utf-8">
<style>
{{ pdf_css|safe }}
</style>
</head>

<body>
{% with blank="-" %}
{% with datamissing='<i style="color: red;">(data missing)</i>' %}
    <div id="header">
        {% if lot.voided %}
        <h1>LAP Lot <span id="voided_record">{{ lot }}</span> <span id="voided_warning">VOIDED</span></h1>
    {% else %}
        <h1>LAP Lot {{ lot }}</h1>
    {% endif %}
    <hr>
    </div>
    <div id="footer">Page <pdf:pagenumber> of <pdf:pagecount> - {% now "Y-m-d H:i" %}</div>
    
    {% comment %}
        NOTE: Table cells can't span pages, so anything that might run long should be contained in a dl instead.
    {% endcomment %}
    <table>
        <tr>
            <th>Number:</th>
            <th>SU or 1LAP/3LAP Locus:</th>
            <th>Locale:</th>
        </tr>
        <tr>
            <td>{{ lot.number|default:datamissing }}</td>
            <td>{{ lot.su|default:datamissing }}</td>
            <td>{{ lot.su.locale|default:datamissing }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Date Assigned:</th>
            <th>Season:</th>
            <th>Contents:</th>
        </tr>
        <tr>
            <td>{{ lot.dateassigned|date:"Y-m-d"|default:datamissing }}</td>
            <td>{{ lot.season|default:datamissing }}</td>
            <td>{{ lot.contents|default:blank }}</td>
        </tr>
    </table>
    <dl>
        <dt>Notes:</dt><dd>{{ lot.notes|default:"-" }}</dd>
        <dt>Objects:</dt><dd>{{ objects|default:blank|join:", " }}</dd>
        <dt>Samples:</dt><dd>{{ samples|default:blank|join:", " }}</dd>
    </dl>
{% endwith %}
{% endwith %}
</body>
</html>
