{% extends "base.html" %}

{% block downloadpanel %}
{% include "download_panel.html" %}
{% endblock %}

{% block filters %}
{{ form.as_p }}
{% endblock %}

{% block content %}
<dl>
    <dt style="grid-template-columns: repeat(7, 1fr);">
        <div>Object</div>
        <div>Season</div>
        <div>Locale</div>
        <div>Material</div>
        <div>Type</div>
        <div>Subtype</div>
        <div>Thumbnail</div>
    </dt>
    {% for item in all_items %}
    <dd {% if item.voided %}class="voided"{% endif %} style="grid-template-columns: repeat(7, 1fr);">
        <div onclick="window.open('/object/{{ item.id }}', '_self')">{{ item }}</div>
        <div onclick="window.open('/object/{{ item.id }}', '_self')">{{ item.season }}</div>
        <div onclick="window.open('/object/{{ item.id }}', '_self')">{{ item.su.locale }}</div>
        <div onclick="window.open('/object/{{ item.id }}', '_self')">{{ item.material }}</div>
        <div onclick="window.open('/object/{{ item.id }}', '_self')">{{ item.objecttype }}</div>
        <div onclick="window.open('/object/{{ item.id }}', '_self')">{{ item.objectsubtype.name|default:"-" }}</div>
        {% if item.image_thumbnail %}
            <div onmousedown="showImage(this, '/static/{{ item.image|cut:"uploads/" }}');">
                <img src="/static/{{ item.image_thumbnail|cut:"uploads/" }}">
            </div>
        {% else %}
            <div>-</div>
        {% endif %}
    </dd>
    {% endfor %}
</dl>
{% endblock %}
