* {
    margin: 0; 
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: black;
    text-decoration: none;
}

button {
    padding: 4px 10px;
    font-weight: bold;
}

#background {
    position: fixed;
    z-index: -10;
    height: 100%;
    width: 100%;
    background-image: url("img/LAP_Logo.png");
    background-repeat: no-repeat;
    top: 100px;
    left: 200px;
    background-size: 800px;
    opacity: .3;
}

#header {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 10;
}

#pagetitle {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    background-color: midnightblue;
    padding: 10px 0px 8px 15px;
}

#pagetitle a {
    color: white;
}

#popupmenus {
    float: right;
    margin: 0px 15px 0px 0px;
    top: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: large;
    font-weight: bold;
}

#popupmenus>* {
    cursor: pointer;
}

#dingir {
    height: 36px;
    width: 36px;
    margin-left: 12px;
}

#loginpanel,
#downloadpanel {
    position: fixed;
    right: 0;
    margin-top: -1px;
    padding: 15px 15px 10px 15px;
    border-style: solid;
    border-width: 1px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: small;
    font-weight: bold;
    color: black;
    border-color: midnightblue;
    background-color: white;
}

#downloadpanel {
    margin-right: 15px;
}

#downloadpanel a {
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;
}

#loginpanel {
    margin-right: 59px;
}

#loginpanel p {
    display: flex;
    margin-bottom: 7px;
}

#loginpanel label {
    float: left;
}

#loginpanel input {
    float: right;
    margin-left: 5px;
    height: 2.5ex;
    width: 20ex;
}

#loginpanel button {
    padding: 3px 10px;
    float: right;
}

#pagesubhead {
    height: 3ex;
    font-family: Helvetica, Arial, sans-serif;
    font-size: small;
    color: black;
    background-color: lightsteelblue;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: midnightblue;
    padding: 8px 0px 8px 15px;
    align-items: center;
    flex-direction: row;
}

#pagesubhead button {
    margin-top: -4px;
}
