#details {
    min-width: 1000px;
    margin-left: -5px;
    margin-right: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(0px, auto);
}

#details * {
    margin-left: 10px;
}

#details .form-group>div {
    margin-left: 0px;
}

#details label,
#details img {
    border-style: solid;
    border-width: 1px;
    border-color: midnightblue;
}

#details label {
    display: block;
    font-weight: bold;
    font-size: large;
    font-family: Helvetica, Arial, sans-serif;
    color: midnightblue;
    background-color: lightsteelblue;
    padding-left: 8px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 4px;
}

#details label.voided {
    color: maroon;
    background-color: lightcoral;
}

#details label:has(+ input[type="checkbox"]) {
    display: inline-block;
    margin-top: 10px;
    width: calc(100% - 75px);
}

#details input:not([type="checkbox"]),
#details textarea,
#details select {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    width: calc(100% - 13px);
}

#details input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-left: 3px;
    vertical-align: text-bottom;
}

#details input[type="text"],
#details textarea {
    padding-left: 6px;
    padding-right: 10px;
    width: calc(100% - 29px);
}

#details .errorlist {
    color: maroon;
    background-color: lightcoral;
    font-weight: bold;
    font-size: small;
    font-family: Helvetica, Arial, sans-serif;
    list-style-type: none;
    padding: 3px 0px;
    margin-top: 2px;
}

#details .select2 * {
    margin-left: 0px;
}

#details .select2-selection {
    border-style: solid;
    border-width: 1px;;
    border-color: grey;
    background-color: white;
    font-size: large;
}

#details #worldfilecontents {
    margin-left: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: midnightblue;
}

#details #worldfilecontents p {
    margin: 3px 7px;
}

#discardchangesbutton {
    margin-right: 10px;
}    

#savebutton,
#discardchangesbutton {
    float: right;
}

#details input:invalid,
#details select:invalid,
#details textarea:invalid {
    border-width: 2px;
    border-color: red;
    border-radius: 4px;
}

#details #id_worldfile:invalid {
    color: red;
}


/* Custom Details View Grids Follow */

/* Areas */
form[name="AreaForm"] {
    grid-template-areas:
        "name shortname ."
        "locales_list locales_list locales_list";
}

/* Locales */
form[name="LocaleForm"] {
    grid-template-areas:
        "name area method"
        "seasons_list . ."
        "sus_list sus_list sus_list"
        "notes notes notes";
}

/* SUs */
form[name="SUForm"] {
    grid-template-areas:
        "number locus ."
        "locale method ."
        "dateassigned recordedby seasons"
        "prefix dimensions seasons"
        "elevationtop elevationbottom seasons"
        "tracing worldfile seasons"
        "architecturalfeatures architecturaltechnique seasons"
        "color composition seasons"
        "texture inclusions seasons"
        "sameas abuts ."
        "coveredby covers ."
        "cutby cuts ."
        "filledby fills ."
        "description description description"
        "interpretation interpretation interpretation"
        "notes notes notes"
        "lots_list lots_list lots_list"
        "photos photos photos"
        "photogrammetrynumbers photogrammetrynumbers photogrammetrynumbers"
        "voided . .";
}

/* Lots */
form[name="LotForm"] {
    grid-template-areas:
        "number su ."
        "locale method ."
        "dateassigned season contents"
        "notes notes notes"
        "objects_list objects_list objects_list"
        "samples_list samples_list samples_list"
        "voided . .";
}

/* Objects */
form[name="ObjectForm"] {
    grid-template-areas:
        "number excavationnumber season"
        "nolot su ."
        "lot su_display ."
        "area locale method"
        "excavationdate registrationdate registrar"
        "image . ."
        "objecttype . ."
        "objectsubtype clayslaborsealingmarking sealingfunction"
        "bladeserration . ."
        "material . ."
        "stonesubtype . ."
        "metalsubtype . ."
        "shellsubtype . ."
        "preservation repairedorrepurposed ."
        "maincolor decoration decorationcolor"
        "height length width"
        "thickness . ."
        "diametermax diametermin diameterholes"
        "description description description"
        "notes notes notes"
        "tobephotographed photographed ."
        "tobedrawn drawn ."
        "senttobaghdad . ."
        "baghdadnumber . ."
        "published . ."
        "publicationcitations . ."
        "voided . .";
    }

/* Samples */
form[name="SampleForm"] {
    grid-template-areas:
        "number excavationnumber season"
        "lot su ."
        "area locale method"
        "excavationdate registrationdate registrar"
        "sampletype box intendedanalysis"
        "notes notes notes"
        "voided . .";
    }
