* {
    margin: 0; 
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

#background {
    position: fixed;
    z-index: -10;
    height: 100%;
    width: 100%;
    background-image: url("LAP_Logo.png");
    background-repeat: no-repeat;
    top: 100px;
    left: 200px;
    background-size: 800px;
    opacity: .3;
}

#header {
    position: sticky;
    top: 0px;
    width: 100%;
    margin-bottom: 10px;
    z-index: 10;
}

#pagetitle {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    background-color: midnightblue;
    padding: 10px 0px 8px 15px;
}

#pagetitle a {
    color: white;
}

#usermenu {
    float: right;
    margin: 0px 15px 0px 0px;
    top: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: large;
    font-weight: bold;
}

#dingir {
    height: 36px;
    width: 36px;
    margin-left: 12px;
}

#pagesubhead {
    font-family: Helvetica, Arial, sans-serif;
    font-size: small;
    color: black;
    background-color: lightsteelblue;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: midnightblue;
    padding: 8px 0px 8px 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#count {
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 12px;
    vertical-align: top;
}

#currentpage {
    padding-left: 2px;
    padding-right: 2px;
    color: whitesmoke;
    background-color: midnightblue;
    border-radius: 4px;
    font-weight: bold;
}

#filters {
    display: inline;
}

#filters button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

#filters label {
    margin-left: 20px;
    font-weight: bold;
}

#filters select {
    margin-left: 3px;
}

#mainmenu {
    display: grid;
    width: 500px;
    grid-template-columns: auto auto auto;
}

a {
    color: black;
    text-decoration: none;
}

dl {
    margin-left: 10px;
    width: max-content;
    border-style: solid;
    border-width: 1px;
    border-color: midnightblue;
    background-color: white;
    z-index: 0;
}

dt {
    font-size: large;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    color: midnightblue;
    background-color: lightsteelblue;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: midnightblue;
    padding-left: 8px;
    padding-right: 15px;
    column-rule: 1px solid;
}

dd {
    padding: 8px 15px 8px 10px;
}

dd:nth-child(odd) {
    background-color: aliceblue;
}

dd:hover {
    background-color: rgb(223, 234, 246);
}
