* {
    margin: 0; 
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: black;
    text-decoration: none;
}

dl {
    margin-top: 15px;
    margin-left: 15px;
    width: max-content;
    border-style: solid;
    border-width: 1px;
    border-color: midnightblue;
    background-color: white;
    z-index: 0;
}

dt {
    display: grid;
    font-size: large;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    color: midnightblue;
    background-color: lightsteelblue;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: midnightblue;
    column-rule: 1px solid;
}

dd {
    display: grid;
    cursor: pointer;
}

dt>div,
dd>div {
    padding-left: 10px;
    padding-right: 15px;
}

dt>div {
    padding-top: 4px;
    padding-bottom: 4px;
}

dd>div {
    padding-top: 8px;
    padding-bottom: 8px;
}

dd:nth-child(odd) {
    background-color: aliceblue;
}

dd:hover {
    background-color: rgb(223, 234, 246);
}

dd>div:first-child {
    font-weight: bold;
}

dd.voided>div {
    color: red;
    text-decoration: line-through;
}

button {
    padding: 4px 10px;
    font-weight: bold;
}

#background {
    position: fixed;
    z-index: -10;
    height: 100%;
    width: 100%;
    background-image: url("img/LAP_Logo.png");
    background-repeat: no-repeat;
    top: 100px;
    left: 200px;
    background-size: 800px;
    opacity: .3;
}

#header {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 10;
}

#pagetitle {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    background-color: midnightblue;
    padding: 10px 0px 8px 15px;
}

#pagetitle a {
    color: white;
}

#popupmenus {
    float: right;
    margin: 0px 15px 0px 0px;
    top: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: large;
    font-weight: bold;
}

#popupmenus>* {
    cursor: pointer;
}

#dingir {
    height: 36px;
    width: 36px;
    margin-left: 12px;
}

#loginpanel,
#downloadpanel {
    position: fixed;
    right: 0;
    margin-top: -1px;
    padding: 15px 15px 10px 15px;
    border-style: solid;
    border-width: 1px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: small;
    font-weight: bold;
    color: black;
    border-color: midnightblue;
    background-color: white;
}

#downloadpanel {
    margin-right: 15px;
}

#downloadpanel a {
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;
}

#csvicon {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

#loginpanel {
    margin-right: 59px;
}

#loginpanel p {
    display: flex;
    margin-bottom: 7px;
}

#loginpanel label {
    float: left;
}

#loginpanel input {
    float: right;
    margin-left: 5px;
    height: 2.5ex;
    width: 20ex;
}

#loginpanel button {
    padding: 3px 10px;
    float: right;
}

#pagesubhead {
    height: 3ex;
    font-family: Helvetica, Arial, sans-serif;
    font-size: small;
    color: black;
    background-color: lightsteelblue;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: midnightblue;
    padding: 8px 0px 8px 15px;
    align-items: center;
    flex-direction: row;
}

#pagesubhead button {
    margin-top: -4px;
}

#newbutton {
    margin-right: 12px;
}

#count {
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 12px;
    vertical-align: top;
}

#currentpage {
    padding: 1px 3px;
    color: whitesmoke;
    background-color: midnightblue;
    border-radius: 4px;
    font-weight: bold;
}

#filters {
    display: inline;
}

#filters label {
    margin-left: 20px;
    font-weight: bold;
}

#filters p {
    display: inline;
}

#filters select {
    margin-left: 3px;
    width: 20ex;
}

#subheadspacer {
    display: block;
    width: 980px;
}

#savebutton {
    float: right;
}

#mainmenu {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

#detail {
    width: 1000px;
    margin-left: -5px;
    float:inline-start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(0px, auto);
}

#detail * {
    margin-left: 10px;
}

#detail label {
    display: block;
    font-weight: bold;
    font-size: large;
    font-family: Helvetica, Arial, sans-serif;
    color: midnightblue;
    background-color: lightsteelblue;
    border-style: solid;
    border-width: 1px;
    border-color: midnightblue;
    padding-left: 8px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 4px;
}

#detail label.voided {
    color: maroon;
    background-color: lightcoral;
}

#detail label:has(+ input[type="checkbox"]) {
    display: inline-block;
    margin-top: 10px;
}

#detail input:not([type="checkbox"]),
#detail textarea,
#detail select {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    width: calc(100% - 13px)
}

#detail .errorlist {
    color: maroon;
    background-color: lightcoral;
    font-weight: bold;
    font-size: small;
    font-family: Helvetica, Arial, sans-serif;
    list-style-type: none;
    padding: 3px 0px;
    margin-top: 2px;
}

#detail .select2 * {
    margin-left: 0px;
}

#detail .select2-selection {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    background-color: white;
}

/* Custom Detail Views Follow */

/* locale detail */
#detail:has([formname="locale"]) {
    grid-template-areas:
        "name area method"
        "seasons_list . ."
        "notes notes notes"
}

/* su detail */
#detail:has([formname="su"]) {
    grid-template-areas:
        "number locus locale"
        "dateassigned recordedby seasons"
        "prefix architecturalfeatures architecturaltechnique"
        "elevationtop elevationbottom dimensions"
        "color composition ."
        "texture inclusions ."
        "sameas abuts ."
        "coveredby covers ."
        "cutby cuts ."
        "filledby fills ."
        "description description description"
        "interpretation interpretation interpretation"
        "photos photos photos"
        "photogrammetrynumbers photogrammetrynumbers photogrammetrynumbers"
        "voided . .";
}

/* lot detail */
#detail:has([formname="lot"]) {
    grid-template-areas:
        "number su locale"
        "dateassigned season contents"
        "notes notes notes"
        "voided . .";
}
