{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
<link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
<div id="background"></div>
<div id="header">
    <div id="pagetitle"><a href="/">LAP FIELD DATABASE</a>: {{ title }}<img id="dingir" src="{% static 'dingir.svg' %}"></img></div>
    <div id="pagesubhead">
        {% if all_items or request.GET|length > 0 %}
        {{ all_items|length }} Item{{ all_items|pluralize }}
        {% endif %}
        {% block filters %}{% endblock %}
    </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>
