{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
<link rel="stylesheet" href="{% static 'styles.css' %}">
{{ form.media }}
</head>

<body>
<div id="background"></div>
<div id="header">
    <div id="pagetitle">
        <a href="/">LAP FIELD DATABASE</a>: {{ title }}
        <div id="usermenu">
            {% if user.is_authenticated %}
                {{ user.first_name }} {{ user.last_name }}
            {% else %}
                Log In
            {% endif %}
            <img id="dingir" src="{% static 'dingir.svg' %}"></img>
        </div>
    </div>
    <div id="pagesubhead">
        {% if count >= 0 %}
        <span id="count">{{ count }} Item{{ count|pluralize }}</span>
        {% if all_items.paginator %}
        <span id="paginator"><b>[</b>
        {% for pagenum in pages %}
            {% if pagenum == all_items.number %}
            <span id="currentpage">{{ pagenum }}</span>
            {% elif pagenum == "…" %}
            …
            {% else %}
            <a href="?p={{ pagenum }}&{{ params }}">{{ pagenum }}</a>
            {% endif %}
        {% endfor %}
        <b>]</b></span>
        {% endif %}
        {% else %}
        &nbsp;
        {% endif %}
        <form id="filters" action="" method="get">
        {% block filters %}
        {% endblock %}
        </form>
    </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>
