{% load static %}
<div id="downloadpanel" hidden>
    {% if view == "list" %}
    <a href="export/{% querystring %}" onclick="this.parentElement.hidden=true">
        Download CSV of<br>These {{ title }}
        <img class="downloadicon" src="{% static 'img/csv_icon.svg' %}" />
    {% elif view == "details" %}
    <a href="{{ request.path }}export/" onclick="this.parentElement.hidden=true">
        Download PDF<br>of This {{ title|slice:":-8" }}
        <img class="downloadicon" src="{% static 'img/pdf_icon.svg' %}" />
        {% endif %}
    </a>
    {% if title == "SU Details" and form.tracing.value %}
    <hr>
    <a href="{{ request.path }}export/" onclick="this.parentElement.hidden=true">
        Download Tracing<br>of This SU
        <img class="downloadicon" src="{% static 'img/map_icon.svg' %}" />
    </a>
    {% endif %}
</div>
