{% extends "base.html" %}

{% block content %}
<div id="mainmenu">
    <dl>
        <dt><div>Project</div></dt>
        <dd onclick="window.open('seasons', '_self')"><div>Seasons</div></dd>
        <dd onclick="window.open('areas', '_self')"><div>Areas</div></dd>
    </dl>
    <dl>
        <dt><div>Locales and Contexts</div></dt>
        <dd onclick="window.open('locales/excavation_trenches', '_self')"><div>Excavation Trenches</div></dd>
        <dd onclick="window.open('locales/scraping_trenches', '_self')"><div>Scraping Trenches</div></dd>
        <dd onclick="window.open('locales/survey_units', '_self')"><div>Survey Units</div></dd>
        <dd onclick="window.open('locales/surface_findspots', '_self')"><div>Surface Findspots</div></dd>
        <dd onclick="window.open('stratigraphic_units', '_self')"><div>Stratigraphic Units</div></dd>
    </dl>
    <dl>
        <dt><div>Collections</div></dt>
        <dd onclick="window.open('lots', '_self')"><div>Lots</div></dd>
        <dd onclick="window.open('objects', '_self')"><div>Objects</div></dd>
        <dd onclick="window.open('samples', '_self')"><div>Samples</div></dd>
        <dd onclick="window.open('pottery', '_self')"><div>Pottery</div></dd>
        <dd onclick="window.open('human_remains', '_self')"><div>Human Remains</div></dd>
    </dl>
</div>
{% endblock %}
