{% extends "base.html" %}

{% block content %}
<div id="mainmenu">
    <dl>
        <dt><div>Project</div></dt>
        <dd><div><a href="seasons/">Seasons</a></div></dd>
        <dd><div><a href="areas/">Areas</a></div></dd>
    </dl>
    <dl>
        <dt><div>Locales and Contexts</div></dt>
        <dd><div><a href="locales/excavation_trenches/">Excavation Trenches</a></div></dd>
        <dd><div><a href="locales/scraping_trenches/">Scraping Trenches</a></div></dd>
        <dd><div><a href="locales/survey_units/">Survey Units</a></div></dd>
        <dd><div><a href="locales/surface_findspots/">Surface Findspots</a></div></dd>
        <dd><div><a href="sus/">Stratigraphic Units</a></div></dd>
    </dl>
    <dl>
        <dt><div>Collections</div></dt>
        <dd><div><a href="lots/">Lots</a></div></dd>
        <dd><div><a href="objects/">Objects</a></div></dd>
        <dd><div><a href="samples/">Samples</a></div></dd>
        <dd><div><a href="pottery/">Pottery <i>(forthcoming)</i></a></div></dd>
        <dd><div><a href="human_remains/">Human Remains <i>(forthcoming)</i></a></div></dd>
    </dl>
</div>
{% endblock %}
