{% extends "base.html" %}

{% block content %}
<div id="mainmenu">
    <dl>
        <dt>Project</dt>
        <dd onclick="window.open('seasons', '_self')">Seasons</dd>
        <dd onclick="window.open('areas', '_self')">Areas</dd>
    </dl>
    <dl>
        <dt>Locales and Contexts</dt>
        <dd onclick="window.open('locales/excavation_trenches', '_self')">Excavation Trenches</dd>
        <dd onclick="window.open('locales/scraping_trenches', '_self')">Scraping Trenches</dd>
        <dd onclick="window.open('locales/survey_units', '_self')">Survey Units</dd>
        <dd onclick="window.open('locales/surface_findspots', '_self')">Surface Findspots</dd>
        <dd onclick="window.open('stratigraphic_units', '_self')">Stratigraphic Units</dd>
    </dl>
    <dl>
        <dt>Collections</dt>
        <dd onclick="window.open('lots', '_self')">Lots</dd>
        <dd onclick="window.open('objects', '_self')">Objects</dd>
        <dd onclick="window.open('samples', '_self')">Samples</dd>
        <dd onclick="window.open('pottery', '_self')">Pottery</dd>
        <dd onclick="window.open('human_remains', '_self')">Human Remains</dd>
    </dl>
</div>
{% endblock %}
